
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
	padding: 0px !important;
	color: blue;
	font-size: 50px;
	
}

h1 {
	color: orange !important;
}

